@import 'tailwindcss';

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

#main-canvas {
  justify-self: center;
  width: 70%;
  height: 40%;
  background-color: #fff;
  display: block; /* Prevent scrollbars */
}
